.about_banner .coverimage {
  width: 100%;
  margin-top: 72px;
}

.team {
  padding-top: 0px !important;
}

.team .our_story_title, .teamTwo .team_two_title, .clients .clients_title {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.team .our_story_subtitle, .clients .clients_subtitle {
  max-width: 400px;
  font-style: italic;
  margin-top: 30px !important;
  text-align: center;
}

.teams_card_container {
  margin-top: 70px;
}

.our_bio {
  margin-top: 0px !important;
  padding: 0px !important;
}

.our_bio .our_story_bio {
  max-width: 500px;
  text-align: justify;
}

.our_bio .our_story_bio p {
  color: #000;
}

.our_bio .our_story_bio p b {
  color: #000;
  font-weight: 600;
}

.teamTwo {
  text-align: center;
}

.teamTwo .team_two_subtitle {
  max-width: 300px;
  font-style: italic;
  margin-top: 30px !important;
}

.teamTwo .our_values_container {
  max-width: 550px;
  margin-top: 60px !important;
}

.teamTwo .our_values_container .our_values_title {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.teamTwo .our_values_container .our_values_content {
  text-align: justify;
}

.clients .client-logo img{
  max-width: 100% !important;
}

@media screen and (max-width: 500px) {
  .clients .client-logo img{
    max-width: 45% !important;
  }
}
