.blog {
  margin-top: 80px;
}

.blog .blog-head {
  text-align: center;
}

.blog .blog-head .title {
  font-weight: 600;
  color: #000000;
  font-size: 36px;
}

.blog .blog-head .subtitle {
  margin-top: 10px;
}

.blog .blog-head .blog-tab-link {
  margin-top: 60px;
}

.blog .blog-head .blog-tab-link ul {
  border-bottom: 1px solid #C4C4C4;
}

.blog .blog-head .blog-tab-link ul li a {
  color: #6F6F6F;
}

.blog .blog-head .blog-tab-link ul li a.active {
  background: #8F8F8F;
  color: #ffffff;
  border-radius: 4px 4px 0px 0px;
}

.blog .blog-container {
  margin-top: 50px;
}

.blog-container .blog-single-top-card .card-img{
  max-height: 400px;
}

.blog-multiple-card-container {
  margin-top: 80px;
  max-width: 1200px;
}

.blog-multiple-card-container .blog-card {
  width: 350px;
  height: 470px;
  margin: 15px 15px;
}

.blog-multiple-card-container .card-img-top {
  max-height: 200px;
}

.blog .blog-card {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 0;
  border: none;
  
}

.blog .blog-card .blog-short-desc {
  -webkit-line-clamp: 4;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.blog .blog-card .blog-title {
  color: #000000;
  font-weight: 600;
  -webkit-line-clamp: 3;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.blog .blog-card .card-footer {
  background: #ffffff;
  position: relative;
  bottom: 0;
}

.blog .blog-card .card-footer .blog-footer-info-img {
  width: 40px;
  height: 40px;
}

.blog .blog-card .card-footer .blog-footer-info {
  font-size: 15px;
}

.blog .blog-card .card-footer .blog-card-link a {
  color: #234376;
  cursor: pointer;
}

.blog .blog-card .card-footer.card-footer.small-card-footer .blog-card-link a {
  font-size: 14px;
}

.blog .blog-card .card-footer .blog-card-link {
  height: 44.98px !important;
}

.blog .blog-card .card-footer.small-card-footer {
  padding: 0.75rem !important;
  position: absolute;
  width: 100%;
}

.blog-card {
  cursor: pointer;
}

.card-footer.small-card-footer .date {
  font-size: 13px;
}

.blog-multiple-card-container .card-col {
  padding-right: 12px;
  padding-left: 12px;
  margin-bottom: 30px;
}

.multi-card-content {
  font-size: 15px;
}

.noBlogFound {
  text-align: center;
}

@media (max-width: 500px) {
  .blog-container .blog-single-top-card .card-img{
    max-height: 200px;
  }
}

@media(max-width: 600px) {
  .blog .first-card {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}