.blog-desc {
  margin-top: 80px;
}

.blog_desc_container .blog_desc_img {
  margin-top: 30px;
}

.blog_desc_container .blog_desc_img img{
  max-height: 400px;
  max-width: 100%;
}

.blog_desc_container {
  max-width: 700px;
  text-align: justify;
}

.back_link {
  color: #5D88CE !important;
  cursor: pointer;
  line-height: 35px;
}

.blog_desc_container .blog_title {
  font-size: 35px !important;
  font-weight: 600;
  text-align: left;
  color: #000;
}

.blog_desc_container #subtitle {
  font-size: 18px;
  margin-top: 20px;
}

.blog_desc_container #date {
  font-size: 15px;
}

.blog_desc_container #subtitle b {
  color: #000;
}

.blog_desc_container .tags_section {
  margin-top: 25px
}

.blog_desc_container .tags_section span {
  margin: 10px 6px;
  color: #fff;
  background: #5D88CE;
  padding: 6px 10px;
  border-radius: 15px;
  font-size: 15px;
}

.blog_desc_container .blog_content {
  margin-top: 30px;
}

.error_msg {
  
}

