.cookie {
  margin-top: 100px;
}

.cookie .section-title .cookie_title, .cookie .section-title .cookie_subtitle {
  font-weight: 600;
  color: #000;
}

.cookie .section-title .cookie_subtitle {
  margin-top: 30px !important;
}


.cookie .section-title .cookie_context {
  max-width: 500px;
  margin-top: 10px !important;
}

.cookie .cookie_content_container {
  text-align: justify;
  max-width: 800px;
}

.cookie .cookie_content_container .cookie_subtitle {
  font-weight: 600;
  color: #000;
  margin-top: 30px !important;
}

.cookie .cookie_content_container table {
  text-align: center;
  margin-bottom: 30px !important;
}