/*--------------------------------------------------------------
# signup
--------------------------------------------------------------*/

.signup-container {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.signup .container_signup {
  width: 100%;
  margin-top: 40px;
  padding: 60px 0;
}

.signup .row {
  width : 100%;
  padding-left: 350px;
}

.signup .signup_rec_bg,.signup .signup_circle_bg {
  width: fit-content;
}

.signup .signup_rec_bg img {
  height: 80px;
  z-index: -10;
  left: 50%;
  transform: translateX(-150%);
  top: -20px;
  position: absolute;
}

.signup .signup_circle_bg img{
  height: 80px;
  z-index: -10;
  position: absolute;
  bottom: 25px;
  right: 0;
}

@media screen and (min-width: 560px) {
  .signup .signup_circle_bg img {
    left: 50%;
    transform: translateX(230%);
    bottom: 25px;
  }
}

@media screen and (max-width: 490px) {
  .signup .signup_circle_bg img {
    bottom: 50px;
  }
}

@media screen and (max-width: 459px) {
  .signup .signup_circle_bg img {
    bottom: 75px;
  }
}



.signup .section-title h2{
  color: #000;
}

.signup .section-title a {
  color: #5D88CE;
}

.signup .container_signup .section-title p{
  text-align: center;
  color: #000;
  padding: 0px 10px;
  max-width: 550px;
  margin: 0px auto;
}


.signup .container_signup .section-title h2 {
    font-weight: 700;
    font-style: bold;
    font-size: 35px;
    color: #000;
    font-family: "Karla", sans-serif;
}

.signup .container_signup .section-title h4 {
    font-weight: 600;
    font-style: bold;
    font-size: 25px;
    color: #000;
    font-family: "Karla", sans-serif;
}

.signup .info {
  padding-top: 100px;
  padding: 30px;
  background: #fff;
  width: 100%;
  border: 2px solid #e9ecee;
  border-radius: 4px;
}

.signup .info i {
  font-size: 20px;
  color: #009cea;
  float: left;
  width: 44px;
  height: 44px;
  background: #f2f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.signup .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #364146;
}

.signup .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #627680;
}

.signup .info .social-links {
  padding-left: 60px;
}

.signup .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.signup .info .social-links a:hover {
  background: #009cea;
  color: #fff;
}

.signup .info .email:hover i, .signup .info .address:hover i, .signup .info .phone:hover i {
  background: #009cea;
  color: #fff;
}

.signup .devieform {
  width: 100%;
  padding: 30px 40px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }

.signup .devieform .form-group {
  padding-bottom: 8px;
}

.signup-container .devieform label {
  color: #000 !important;
  font-weight: 600;
}

.signup .devieform .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.signup .devieform .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.signup .devieform .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
}

.signup .devieform .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.signup .devieform .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.signup .devieform input {
  height: 44px;
  border: 0.5px solid #666666;
  border-radius: 7px;
}

.signup .devieform button[type="submit"] {
  background: #009cea;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.signup .devieform button[type="submit"]:hover {
  background: #1eb4ff;
}

.signup .devieform button:disabled {
  background-color: #6F6F6F !important;
}

.signup .checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  font-weight: 400;
  color: #000 !important;
}
.signup .checkboxes input {
  vertical-align: middle;
  height: auto;
}
.signup .checkboxes label span {
  vertical-align: middle;
  font-size: 14px;
}
.signup .submit-button {
  color: #5D88CE;
}

.signup .accept_term_text {
  font-size: 13px;
  color: #000;
  padding: 0px 8px;
}

.bootstrap-select button {
  border: 0.5px solid #666666 !important;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 7px;
}

.bootstrap-select button:focus, .bootstrap-select button:active, .bootstrap-select button:hover {
  background-color: #fff;
}

.bootstrap-select .dropdown-item {
  padding: 8px 15px;
}

.bootstrap-select .dropdown-item.active,.bootstrap-select .dropdown-item:active {
  background-color: #5D88CE;
  color: #fff;
}

.option_new {
  background-color: #ffffff;
  color: #000;
  padding: 10px 0px;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signup_footer {
  background-color: #f7f8f9;
  background: url('../img/common/signup_wave_footer.svg'), #f7f8f9;
  background-repeat: no-repeat;
  background-position: top center; 
  background-size: cover;
  color: #ffffff;
  padding-top: 160px;
  text-align: center;
}

.signup_footer h1 {
  font-weight: 600;
  margin-bottom: 30px;
}

.signup_footer p {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 50px;
}

.signup_footer .app_download_btn img {
  width: 200px;
  margin: 10px 10px;
  margin-bottom: 100px;
}

@media screen and (max-width: 400px) {
  .signup_footer .app_download_btn img {
    margin-bottom: 10px;
  }

  .googleplayimg {
    margin-bottom: 100px !important;
  }
}

